<html>
<head>
	<title>Tinymesh || <%= title %></title>
	<link href="/assets/css/style.css" rel="stylesheet">
	<meta charset=utf-8 />
</head>
<body>
	<div class="row" id="header">
		<div class="container">
			<div class="col-md-3">
				<a href="#"><img src="/assets/img/branding.png" width="200"></img></a>
			</div>
			<div id="topnav" class="col-md-5">
				<ul class="nav nav-pills">
					<li class="<%= uri === '' ? 'active' : '' %>"><a href="<%= sitemap['/'].meta[0].uri %>"><%= sitemap['/'].meta[0].title %></a></li>
					<% for (i in sitemap['/'].children) {
							var item = sitemap['/'].children[i],
							    href = item.meta[0].uri;
							if (false !== item.meta[0].menu) { %>
									<li class="<%= uri.match(new RegExp("^" + href)) ?  'active' : '' %>">
										<a href="<%= href %>"><%= item.meta[0].title %></a>
									</a></li>
					<%	}
					} %>
				</ul>
			</div>
			<div id="search" class="col-md-4">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control input-sm" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default btn-sm">Search</button>
				</form>
			</div>
		</div>
	</div>
	<div>
	</div>
	<div class="container">
		<div class="row">
			<%= content %>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="col-sm-3">
				<h5>What we do</h5>

				<ul class="nav">
					<li><a href="#">Overview</a></li>
					<li><a href="#">Case studies</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">The TinySolution Network</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<h5>Support</h5>

				<ul class="nav">
					<li><a href="#">Getting Started</a></li>
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Hardware integration</a></li>
					<li><a href="#">TinyMesh protocol</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<h5>About Us</h5>

				<ul class="nav">
					<li><a href="#">Company</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>

				<br>

				<h5>Security &amp; Privacy</h5>

				<ul class="nav">
					<li><a href="#">Information Security</a></li>
					<li><a href="#">Terms of service</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>

			<div class="col-md-3">
				<h5>Secure, real-time communication</h5>

				<p>
					Extending the <b>TinyMesh</b> protocol, <b>TinySolution</b>
					ensures secure and fault-tolerant communication over a real-time
					network backbone; creating a robust platform tailored for
					automating industry, office and homes.
				</p>

				<hr>

				<p>
					&copy; 2012-2013 <a href="https://tiny-mesh.com">Tiny Mesh AS</a>.
				</p>
			</div>
		</div>
	</footer>
</body>
</html>
